:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right, #000, #111);
  min-height: 100vh;
  color: var(--color-grey-light-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.container {
  max-width: 120rem;
  margin: 4rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
  height: 100%;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 3rem;
  width: 95vw;
  text-align: center;
  height: auto;
  padding: 2rem 3rem;
  border-bottom: 2px var(--color-primary) solid;
  border-right: 2px var(--color-primary) solid;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3rem;
  transition: 2s all; }
  @media only screen and (max-width: 56.25em) {
    .header {
      width: 100vw;
      font-size: 2.5rem;
      padding: 0rem; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      align-content: space-around; } }

.content {
  display: flex;
  align-items: stretch;
  flex: 1; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.h1 {
  font-size: 5rem; }

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  width: 100%; }
  .input__collection {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .input__collection {
        padding: 1rem;
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 31.25em) {
      .input__collection {
        padding: 1.5rem;
        grid-template-columns: 1fr; } }
  .input__select {
    padding: 0.5rem 2rem;
    width: 100%;
    border-radius: 0.5rem;
    border-bottom: 2px var(--color-primary) solid;
    border-right: 2px var(--color-primary) solid; }
    .input__select:focus {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .input__set {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3rem; }
  .input__error {
    color: #ddd;
    transform: translateX(0);
    transition: 0.7s all ease-in; }
    .input__error.hidden {
      opacity: 0;
      transform: translateX(-100%); }

.hidden {
  opacity: 0; }

table {
  width: 90vw; }
  table th {
    font-size: 2.5rem;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 56.25em) {
      table th {
        font-size: 2rem;
        margin-bottom: 0.3rem; } }
    @media only screen and (max-width: 31.25em) {
      table th {
        font-size: 1rem; } }
  @media only screen and (max-width: 56.25em) {
    table {
      width: 100vw; } }

.arrow {
  cursor: pointer;
  transition: 1s all ease-out; }

.large {
  font-size: 4rem; }

.data__container {
  font-size: 2rem;
  padding: 0 1rem; }
  @media only screen and (max-width: 56.25em) {
    .data__container {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .data__container {
      font-size: 1rem; } }

.data__col {
  text-align: center;
  padding: 0.5rem 1rem; }
  .data__col--1 {
    width: 15%;
    color: var(--color-grey-light-2); }
  .data__col--2 {
    width: 35%; }
  .data__col--3 {
    width: 30%; }
  .data__col--4 {
    width: 20%; }
  .data__col a:link, .data__col a:visited {
    color: var(--color-primary);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary-light); }

@media only screen and (max-width: 31.25em) {
  .data {
    padding: 0; } }

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 1000px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary));
  padding: 1.5rem 5rem;
  position: relative;
  overflow: hidden;
  color: #fff; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary)); }
  .btn:focus {
    outline: none;
    animation: pulsate 1s; }

.loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: var(--color-grey-light-1);
  border-top-color: var(--color-grey-light-1);
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1; }
  .loader:before {
    animation: spin 2s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: var(--color-grey-dark-2);
    border-top-color: var(--color-grey-dark-2);
    box-sizing: border-box;
    content: '';
    height: 16vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 16vmin; }
  .loader:after {
    animation: spin 3s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: var(--color-grey-light-1);
    border-top-color: var(--color-grey-light-1);
    box-sizing: border-box;
    content: '';
    height: 12vmin;
    left: 2vmin;
    position: absolute;
    top: 2vmin;
    width: 12vmin; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes pulsate {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); } }
