.h1 {
  font-size: 5rem;
}
//search
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  width: 100%;
  @media only screen and (max-width: $bp-medium) {
    // flex-direction: row;
  }

  &__collection {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 5rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: $bp-smallest) {
      padding: 1.5rem;
      grid-template-columns: 1fr;
    }
  }

  &__select {
    padding: 0.5rem 2rem;
    width: 100%;
    border-radius: 0.5rem;
    border-bottom: 2px var(--color-primary) solid;
    border-right: 2px var(--color-primary) solid;

    &:focus {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    }
  }

  &__set {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3rem;
  }

  &__error {
    color: #ddd;
    transform: translateX(0);
    transition: 0.7s all ease-in;

    &.hidden {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
}

.hidden {
  opacity: 0;
}

//table
table {
  width: 90vw;

  th {
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2rem;
      margin-bottom: 0.3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    width: 100vw;
  }
}

.arrow {
  cursor: pointer;
  transition: 1s all ease-out;
}

.large {
  font-size: 4rem;
}

.data {
  &__container {
    // width: 80%;
    font-size: 2rem;
    padding: 0 1rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      font-size: 1rem;
    }
  }

  &__col {
    text-align: center;
    padding: 0.5rem 1rem;
    &--1 {
      width: 15%;
      color: var(--color-grey-light-2);
    }
    &--2 {
      width: 35%;
    }
    &--3 {
      width: 30%;
    }
    &--4 {
      width: 20%;
    }
    & a {
      &:link,
      &:visited {
        color: var(--color-primary);
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid var(--color-primary-light);
      }
    }
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 0;
  }
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 1000px;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary)
  );
  padding: 1.5rem 5rem;
  position: relative;
  overflow: hidden;
  color: #fff;

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary)
    );
  }

  &:focus {
    outline: none;
    animation: pulsate 1s;
  }
}

.loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: var(--color-grey-light-1);
  border-top-color: var(--color-grey-light-1);
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
  &:before {
    animation: spin 2s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: var(--color-grey-dark-2);
    border-top-color: var(--color-grey-dark-2);
    box-sizing: border-box;
    content: '';
    height: 16vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 16vmin;
  }
  &:after {
    animation: spin 3s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: var(--color-grey-light-1);
    border-top-color: var(--color-grey-light-1);
    box-sizing: border-box;
    content: '';
    height: 12vmin;
    left: 2vmin;
    position: absolute;
    top: 2vmin;
    width: 12vmin;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
}
