//search
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  width: 100%;

  &__collection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
  }

  &__select {
    padding: 0.5rem 2rem;
    width: 100%;
    border-radius: 0.5rem;
  }

  &__set {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3rem;
  }

  &__error {
    color: #ddd;
    transform: translateX(0);
    transition: 0.7s all ease-in;

    &.hidden {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
}

//table
table {
  width: 90vw;

  th {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

.data__col {
  &--1 {
    width: 15%;
  }
  &--2 {
    width: 35%;
  }
  &--3 {
    width: 30%;
  }
  &--4 {
    width: 20%;
  }
}

.arrow {
  cursor: pointer;
}

.data {
  &__container {
    // width: 80%;
    font-size: 2rem;
  }
  &__col {
    // width: 24%;
    // display: inline-block;
    text-align: center;
    padding: 0.5rem 2rem;
  }
}

@keyframes pulsate {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 1000px;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary)
  );
  padding: 1.5rem 5rem;
  position: relative;
  overflow: hidden;
  color: #fff;

  &--1 {
    margin-right: 5rem;
  }
  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.35s;
  }
  &__visible {
  }
  &__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0rem;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary)
    );
  }
  &:hover &__invisible {
    top: 0;
  }

  &:hover &__visible {
    transform: translateY(200%);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s;
  }
}

.loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #09f;
  border-top-color: #09f;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
  &:before {
    animation: spin 2s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #3cf;
    border-top-color: #3cf;
    box-sizing: border-box;
    content: '';
    height: 16vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 16vmin;
  }
  &:after {
    animation: spin 3s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #6ff;
    border-top-color: #6ff;
    box-sizing: border-box;
    content: '';
    height: 12vmin;
    left: 2vmin;
    position: absolute;
    top: 2vmin;
    width: 12vmin;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
